@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;500;700&family=Kanit:wght@300;600;500&family=Poppins:wght@300;500;700&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes animation {
    0% {
        transform: translatey(20px);
        opacity: 0%;
    }

    100% {
        transform: translatey(0px);
        opacity: 100%;
    }
}

html{
    scroll-behavior: smooth;
}

.container {
    padding: 16px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}


/*NAVIGATION*/

nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #161617;
}

.logo_text {
    display: flex;
    align-items: center;
}

.nasa_logo {
    width: 90px;
    padding-left: 12px;
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-right: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

/*HOMEPAGE*/

.homepage {
    height: calc(100vh - 90px);
    width: 100%;
    position: relative;
    background-image: url(./assets/homepage_bg_1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.homepage_text {
    font-family: 'Kanit', sans-serif;
    font-size: 56px;
    font-weight: 600;
    animation: animation 1000ms;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 450px;
    margin-left: 16px;
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 15px;
}

/*ABOUT*/

#about {
    background-color: #181818;
}

.section_headings {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.about_description {
    display: flex;
}

.about_text {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 16px 16px 0 16px;
    line-height: 1.5;
}

.about_image {
    height: 268px;
    width: 404px;
    margin-bottom: 16px;
    border-radius: 20px;
}

.about_image-wrapper {
    margin-right: 16px;
    margin-left: 16px;
}


/*TIMELINE*/

#timeline {
    background-color: #202020;
}

.timeline_container {
    width: 32%;
    height: 240px;
    overflow-y: scroll;
    border: 1px solid white;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline_container::-webkit-scrollbar {
    width: 4px;
    color: white;
}

.timeline_container::-webkit-scrollbar-track {
    width: 12px;
    background: #202020;
}

.timeline_container::-webkit-scrollbar-thumb {
    background: #fefefe;
}

.timeline_headings {
    color: #fefefe;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    margin-top: 8px;
    padding-bottom: 8px;
}

.timeline_text {
    font-family: 'Josefin-Sans', sans-serif;
    font-size: 15px;
    color: #fefefe;
    line-height: 1.5;
    padding: 12px;
}

.timeline_container--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*DISCOVERIES*/

#discoveries {
    background-color: #151515;
}

.discoveries_text{
    color: white;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
}

.discovery{
    padding-bottom: 24px;
}

.discovery_image {
    width: 100%;
    transition: all 500ms ease;
}

.discoveries_list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    flex-wrap: wrap;
}

.discovery_wrapper{
    width: 350px;
    height: 350px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.discovery_wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.discovery:hover .discovery_wrapper::before{
    opacity: 0.8;
}

.discovery:hover .discovery_image{
    transform: scale(1.07);
    filter: blur(5px);
}

.discovery:hover .discovery_description{
    opacity: 1;
    transform: translateY(-50%);
}

.discovery_description{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(100%);
    max-width: 300px;
    z-index: 3;
    opacity: 0;
    transition: transform 600ms, opacity 300ms;
}

.discovery_description-title{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.discvoery_description-subtitle{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.discovery_description-para{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.discovery_description-title,
.discvoery_description-subtitle,
.discovery_description-para{
    color: #fff;
}
